[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
ta-lib = "*"
python-dotenv = "*"
pandas = "*"
matplotlib = "*"
tqdm = "*"
alpaca-py = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
